form {
  color: var(--main-font-colour);
  border: 1px solid var(--main-font-colour);
  width: 100%;
  padding: 10px 20px;
}

.required {
  font-size: 0.6em;
}
.thankYou {
  color: var(--secondary-bg-colour);
  font-weight: 600;
  font-size: 1.6em !important;
  float: right;
}

.form-style {
  /* background:white; */
  margin: 0 auto;
  border-radius: 1px;
}
.form-style fieldset {
  border: none;
}
.form-style legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.form-style label {
  display: block;
  margin-bottom: 8px;
}
.form-style input[type='text'],
.form-style input[type='email'],
.form-style textarea {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-left: 4px solid var(--secondary-bg-colour);
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}
.form-style input[type='text'].entered {
  border-left: #40e0d0 4px solid;
}
.form-style input[type='email'].entered {
  border-left: #40e0d0 4px solid;
}
.form-style textarea.entered {
  border-left: #40e0d0 4px solid;
}
.form-style button {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.5);
  margin: 0.5em 0.5em;
  cursor: pointer;
}
.form-style .active {
  border: 1px solid var(--main-font-colour);
  background-color: rgba(51, 51, 51, 1);
  color: var(--main-font-colour);
}
