form {
  color: var(--main-font-colour);
  border: 1px solid var(--main-font-colour);
  width: 100%;
  padding: 10px 20px;
}

.messageWRapper {
  display: flex;
  justify-content: space-between;
}
.messageWRapper .required {
  font-size: 0.6em;
}
.messageWRapper .thankYou {
  color: var(--secondary-bg-colour);
  font-weight: 600;
  font-size: 1em !important;
}
.error {
  color: crimson;
  font-size: 0.8em;
}

.form-style {
  /* background:white; */
  margin: 0 auto;
  border-radius: 1px;
}
.form-style fieldset {
  border: none;
}
.form-style legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.form-style label {
  display: block;
  margin-bottom: 8px;
}
.form-style input[type='text'],
.form-style input[type='email'],
.form-style textarea {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-left: 4px solid var(--secondary-bg-colour);
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}
.form-style input[type='text'].entered {
  border-left: greenyellow 4px solid;
}
.form-style input[type='email'].entered {
  border-left: greenyellow 4px solid;
}
.form-style textarea.entered {
  border-left: greenyellow 4px solid;
}
.form-style input[type='text'].invalid {
  border-left: var(--secondary-bg-colour) 4px solid;
}
.form-style input[type='email'].invalid {
  border-left: var(--secondary-bg-colour) 4px solid;
}
.form-style textarea.invalid {
  border-left: var(--secondary-bg-colour) 4px solid;
}
