#modal {
  border: 1px solid greenyellow;
}
[v-cloak] {
  display: none;
}
.modalMask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(220, 220, 220, 0.8);
  display: table;
  transition: opacity 0.3s ease;
}
.modalWrapper {
  display: table-cell;
  vertical-align: middle;
}
.modalContainer {
  width: 300px;
  margin: 0px auto;
  padding: 20px 20px 30px;
  background-color: var(--main-bg-colour);
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  color: var(--main-font-colour);
}
.modalButton {
  cursor: pointer;
}
.modalBody {
  margin: 20px 0;
}
