[v-cloak] {
  display: none;
}
.modalMask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(249, 249, 249, 0.2);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  display: table;
}
.modalWrapper {
  display: table-cell;
  vertical-align: middle;
}
.modalContainer {
  border: 1px solid var(--main-font-colour);
  width: 40vw;
  margin: 0px auto;
  padding: 20px 20px 30px;
  background-color: var(--main-bg-colour);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  color: var(--main-font-colour);
}

.modalButton {
  cursor: pointer;
}
.modalHeader {
  display: flex;
  justify-content: space-between;
}
.modalBody {
  margin: 20px 0;
}
.modalFooter {
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
/* Media Queries */
@media all and (max-width: 768px) {
  .modalContainer {
    width: 80vw;
  }
}
