.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.angularIcon {
  width: 58px;
  height: 58px;
}
.vueIcon {
  /* ratio: 1.15 */
  width: 42px;
  height: 42px;
}
.reactIcon {
  /* ratio: 1.42 */
  width: 58px;
  height: 42px;
}
