footer {
  min-height: 80px;
  background-color: black;
  font-size: 0.7em; 
}
footer a {
  color: var(--main-font-colour);
  text-decoration: underline;
  letter-spacing: 1px;
}
footer p {
 
}
.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;  
}
.wrapper p {
  font-size: 1em;
}
.spacer {
  padding: 0 1em;
}

